<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
	myBatis 매퍼 파일
	- DBMS에서 실행할 SQL 구문을 저장하는 XML 파일
	- namespace를 통해서 여러 개의 매퍼를 구분한다
	- 테이블 당 1개씩 만드는 것이 일반적이며, 따라서 namespace를 테이블명으로 작성하면 구분이 용이하다.
	- <insert> , <select> , <update> , <delete>를 이용해서 CRUD 구문을 작성한다.
	- 각 구문은 외부에서 호출이 가능하도록 반드시 ID를 겹치지 않게 부여해야 한다.
	- parameterType 은 구문을 실행하기 위해 필요한 데이터의 형태를 말한다.
	- resultType은 구문을 실행한 결과를 어떤 형태로 변환해야 하는지를 말한다.
 -->

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="statisticsInfoView">
	
	<select id="countByReservation" resultType="ChartVO">
		select movie_title text ,count(reservation_no) count from(
		select * from statistics_info_view where reservation_no>0 and reservation_status='결제완료'
		<![CDATA[and sysdate < schedule_end]]>
		) group by movie_title order by count desc
	</select>
	
	<select id="countForReservationRatio" resultType="ChartVO">
	 select movie_title text ,count(reservation_no) count from(
		select * from statistics_info_view where reservation_no>0 and reservation_status='결제완료'
        <![CDATA[and sysdate < schedule_end]]>
		) group by movie_title order by count desc
	</select>	
	
	<select id="countByGenderForMovie" parameterType="int" resultType="ChartVO">
		SELECT member_gender text,
		count(reservation_no) count from(
		select * from statistics_info_view where movie_no=#{movieNo} and reservation_status='결제완료'
		)GROUP BY member_gender
	</select>
	
	
	<select id="countByGenderForTotal" resultType="ChartVO">
		SELECT member_gender text,
		count(reservation_no) count from(
		select * from statistics_info_view where reservation_no>0 and reservation_status='결제완료'
		)GROUP BY member_gender
	</select>
	
	<select id="countByAgeForMoive" parameterType="int" resultType="ChartVO">
		select text,count(*) count from
		(SELECT 
		CASE 
		    <![CDATA[WHEN extract(year from sysdate) - extract(year from member_birth) + 1 <= 19  Then '10대 이하']]>
		    <![CDATA[WHEN extract(year from sysdate) - extract(year from member_birth) + 1 <= 29  Then '20대']]>
		    <![CDATA[WHEN extract(year from sysdate) - extract(year from member_birth) + 1 <= 39  Then '30대']]>
		    <![CDATA[WHEN extract(year from sysdate) - extract(year from member_birth) + 1 <= 49  Then '40대']]>
		    Else '50대 이상'
		end text
		FROM statistics_info_view where reservation_status='결제완료' and movie_no=#{movieNo})
		group by text order by count desc
	</select>
	
	
	<select id="countByAgeForTotal" resultType="ChartVO">
		select text,count(*) count from
		(SELECT 
		CASE 
		    <![CDATA[WHEN extract(year from sysdate) - extract(year from member_birth) + 1 <= 19  Then '10대 이하']]>
		    <![CDATA[WHEN extract(year from sysdate) - extract(year from member_birth) + 1 <= 29  Then '20대']]>
		    <![CDATA[WHEN extract(year from sysdate) - extract(year from member_birth) + 1 <= 39  Then '30대']]>
		    <![CDATA[WHEN extract(year from sysdate) - extract(year from member_birth) + 1 <= 49  Then '40대']]>
		    Else '50대 이상'
		end text
		FROM statistics_info_view where reservation_status='결제완료')
		group by text order by count desc
	</select>
	
	<select id="totalReservationByTheater" resultType="ChartVO">
		select theater_name text ,count(reservation_no) count from(
		select * from statistics_info_view where reservation_no>0 and reservation_status='결제완료'
		<![CDATA[and sysdate < schedule_end]]>
		) group by theater_name order by count desc
	</select>
	
	<select id="countByGradeReservation" resultType="ChartVO">
		SELECT member_grade text,
		count(reservation_no) count from(
		select * from statistics_info_view where reservation_no>0 and reservation_status='결제완료'
		)GROUP BY member_grade order by count
	</select>
	
	<select id="countReservationBySido" resultType="ChartVO">
		select theater_sido text ,count(reservation_no) count from(
		select * from statistics_info_view where reservation_no>0 and reservation_status='결제완료'
		) group by theater_sido order by count desc
	</select>
	
	<select id="movieTitleBymemberNo" parameterType="int" resultType="String">
		select Movie_title from statistics_info_view where member_no=#{memberNo}
	</select>
	
	<select id="getByNo" parameterType="map" resultType="MovieDto">
		select distinct(movie_no),movie_title from statistics_info_view where member_no=#{memberNo} and movie_no=#{movieNo}
	</select>
</mapper>