<?xml version="1.0" encoding="UTF-8" ?>


<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="storePhoto">
	
	<select id="getPhotoSequence" resultType="int">
		select product_photo_seq.nextval from dual
	</select>
	
	<insert id="insert" parameterType="StorePhotoDto">
		insert into product_photo values(
			#{productPhotoNo},
			#{productNo},
			#{productPhotoUploadName},
			#{productPhotoSaveName},
			#{productPhotoSize},
			#{productPhotoType}
		)
	</insert>
	<select id="get" parameterType="int" resultType="StorePhotoDto">
		select * from product_photo where product_photo_no = #{productPhotoNo}
	</select>
	
	<select id="getByNo" parameterType="String" resultType="StorePhotoDto">
		select * from product_photo where product_no = #{productNo}
	</select>
</mapper>